
.title-app__h1 {
  font-family: "Roboto", sans-serif;
  color: #e1e1e6;
  font-weight: bold;
  font-size: 23.0074px;
  text-align: left;
  padding-top: 29px;
}
.title-app__h5{
    font-family: "Roboto", sans-serif;
    color: #A5A2AF;
    font-size: 19.0074px;
    font-weight: 500;
    padding-top: 7px;
    padding-bottom: 29px;
}
