.progress-bar__min{
    display: flex;
    gap: 120px;
}
.progress-bar__bar{
    width: 195.66px;
    height: 6px; 
    background-color: #5E586F;
    border-radius: 9.6px;
}
.progress-bar__start{
    padding-top: 13px;
    font-family: 'Roboto', sans-serif;
    color: #9693A3;
    font-weight:400 ;
    font-size: 14px;
}
.progress-bar__end{
    padding-top: 13px;
    font-family: 'Roboto', sans-serif;
    color: #9693A3;
    font-weight:400 ;
    font-size: 14px;
    text-align: flex-end;
}
.progress-bar__fill{
    background-color: #D6D6D7;
    height: 6px; 
    border-radius: 9.6px;
    transition: all 0.3s ease-out;
  }